
* {
    box-sizing: border-box;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    outline: none !important;
    flex-grow: 0;
    flex-shrink: 0;
    color: white;
}
*::-webkit-scrollbar-track {
    border-radius: 0px;
    background-color: transparent;
}
*::-webkit-scrollbar {
    width: 7px;
    height: 7px;
    pointer-events: none;
}
*::-webkit-scrollbar-thumb {
    border-radius: 0px;
    background-color: white;
}

body {
    background-color: black;
}
button, input, textarea, datalist, select {
    background-color: black;
}
textarea {
    padding: 10px;
}
.uibutton {
    padding: 4px;
    margin-top: 10px;
    display: block;
}
.uibutton:hover {
    background-color:#770033;
}
.uibutton:active {
    background-color:#ff8899;
}
#editor-view, #player-view {
    position: absolute;
    top: 0; 
    left: 0;
    height: 100vh;
    width: 100vw;
    padding: 50px;
    background-color: black;
}
#editor-view {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}
#application-tabs {
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px;
    z-index: 8;
}
#application-tabs button {
    display: inline;
}
#labels {
    width: 20%;
}
#actionable-content {
    width: 80%;
}
#actionable-content, #labels {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
#ancestors-label, #child-label {
    height: 15vh;
}
#current-label {
    height: 40vh;
}

.border {
    border: 1px solid white;
    border-radius: 3px;
}

.child-bundle, #add-child-menu, .ancestor-node, fieldset, form, button {
    border: 1px solid white;
    border-radius: 3px;
}

form, fieldset, p  {
    padding: 10px;
}

select {
    max-width: 200px;
}
option {
    font-family: monospace !important;
}
datalist {
    overflow-y: scroll;
    max-height: 20vh;
}
#popup-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    opacity: 0.8;
    background-color: black;
    z-index: 9;
}

#remove-current-form {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: black;
    z-index: 10;
}
#remove-current-form button {
    padding: 5px;
    margin: 10px;
    display: inline;
}

.node-viewer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    overflow-x: scroll;
    width: 100%;
    height: 18vh;
    padding: 10px;
}
.node-viewer > * {
    height: 100%;
    margin-left: 50px;
}
#current {
    height: 45vh;
}
#current-editor-form {
    width: 25vw;
}
#current-title-editor {
    width: 100%;
}
#current-header {
    height: 25%;
}
#current-content {
    height: 75%;
    width: 100%;
}
#current-content-editor {
    width: 100%;
    height: 100%;
    resize: none;
    overflow-y: scroll;
}
#current-select-form {
    margin-top: 20px;
}
#preview-frame {
    width: 40vw;
    height: 100%;
    border: 1px solid white;
}

.story-node {
    width: 300px;
    padding: 15px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}
.story-node > * {
    text-align: left;
}
.story-node:hover, #add-child:hover, .remove-child:hover {
    background-color: #770033;
}
.story-node:active, #add-child:active, .remove-child:active {
    background-color: #ff8899;
    color: black
}

#conditional-options-frame {
    margin-right: 100px;
    min-width: 400px;
    position: relative;
}
conditional-options-header {
    height: 20%;
}
#conditional-options-selection {
    overflow: scroll;
    height: 80%;
    width: 90%;
    position: absolute;
    bottom: 0;
}
#conditional-options-selection fieldset {
    margin-bottom: 20px;
}

#conditional-options-selection label {
    display: block;
    margin-top: 20px;
}

#conditional-options-selection fieldset {
    border-right: none;
    border-bottom: none;
}
#conditional-options-selection legend {
    padding: 3px;
    border: 1px solid white;
}

.child-node {
    border: none;
    height: 70%;
}
.child-bundle, #add-child-menu, .ancestor-node {
    height: 100%;
}
.child-bundle, #add-child-menu {
    position: relative;
}
.option-form {
    border: none;
    height: 30%;
}

#add-child {
    height: 70px;
    width: 70px;
    border-radius: 35px;
    font-size: 35px;
    font-weight: lighter;
}

.remove-child {
    height: 20px;
    width: 30px;
    border-radius: 10px;
    position: absolute;
    top: 5px;
    right: 5px;
    font-size: 15px;
    font-weight: bold;
}

#add-child, .remove-child {
    border: none;
    background-color: transparent;
}

#add-child-menu {
    height: max-content;
}
#add-child-form {
    border: none;
}
#add-child-form > * {
    display: block;
}
#add-child-form fieldset {
    border: none;
}

#save-popup {
    position: absolute;
    height: min-content;
    right: 50px;
    top: 50px;
    border: 1px solid white;
    border-radius: 3px;
}



.hidden {
    display: none;
}
@keyframes dynamicElementFadeOut {
    0% {
        opacity: 1
    }
    100% {
        opacity: 0
    }
}
@keyframes dynamicElementFadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

a {
    text-decoration: underline;
}
a:hover {
    text-decoration: dotted;
}
a:active {
    text-decoration: none;
}
#node-index {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: auto;
    min-width: 30vw;
    height: 80vh;
    z-index: 10;
    padding: 100px 50px;;
    border: 1px solid white;
    background-color: black;
}
#node-index-scrollbox {
    overflow: scroll;
    height: 100%;
    width: 100%;
}
#node-index-close {
    position: absolute;
    top: -20px;
    left: -20px;
    font-size: 1.5em;
    outline: 1px solid white;
    width: 30px;
    height: 30px;
    border-radius: 15px;
}
#node-index-close:hover {
    color: #555555;
}
#node-index-close:active {
    color: #000000;
    background-color: white;
}
#node-index-ul li {
    margin-bottom: 20px;
    font-size: 1.5em;
}

#story-frame {
    text-align: center;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
#story-options {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
#story-text {
    font-family: Georgia, 'Times New Roman', Times, serif;
    line-height: 1.8;
    font-size: 1.1em;
    max-width: 60vw;
}
#story-options button {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1.1em;
    border: 1px solid white;
    margin: 20px;
    padding: 10px 20px;
}
#story-options button:hover {
    background-color:#770033;
}
#story-options button:active {
    background-color:#ff8899;
}

.labyrinth-color {
color: #a02090;
}

.crow-color {
color: #6040c0;
}