
* {
    box-sizing: border-box;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    outline: none !important;
    flex-grow: 0;
    flex-shrink: 0;
    color: white;
}

body {
    background-color: black;
}
button, input, textarea, datalist, select {
    background-color: black;
}
#application {
    height: 100vh;
    width: 100vw;
    padding: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}
#labels {
    width: 20%;
}
#actionable-content {
    width: 80%;
    
}
#actionable-content, #labels {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
#ancestors-label, #child-label {
    height: 15vh;
}
#current-label {
    height: 40vh;
}

form {
    border: 1px solid white;
    padding: 10px;
}
fieldset {
    padding: 10px;
    border: 1px solid white;
}
select {
    max-width: 200px;
}
option {
    font-family: monospace !important;
}
datalist {
    overflow-y: scroll;
    max-height: 20vh;
}

.node-viewer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    overflow-x: scroll;
    width: 100%;
    height: 15vh;
}
.node-viewer > * {
    height: 100%;
    margin-left: 50px;
}
#current {
    height: 40vh;
}
#current > form {
    width: 40%;
}
#current-title-editor {
    width: 100%;
}
#current-content-editor {
    width: 100%;
    height: 27vh;
    resize: none;
    overflow-y: scroll;
}

.story-node {
    width: 300px;
    padding: 15px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
.story-node > * {
    text-align: left;
}
.story-node:hover, #add-child:hover, .remove-child:hover {
    background-color: #770033;
}
.story-node:active, #add-child:active, .remove-child:active {
    background-color: #ff8899;
    color: black
}

.child-node {
    border: none;
    height: 70%;
}
.child-bundle, #add-child-menu, .ancestor-node {
    height: 100%;
    border: 1px solid white;
    border-radius: 5px;
}
.child-bundle, #add-child-menu {
    position: relative;
}
.option-form {
    border: none;
    height: 30%;
}

#add-child {
    height: 70px;
    width: 70px;
    border-radius: 35px;
    font-size: 35px;
    font-weight: lighter;
}

.remove-child {
    height: 20px;
    width: 30px;
    border-radius: 10px;
    position: absolute;
    top: 5px;
    right: 5px;
    font-size: 15px;
    font-weight: bold;
}

#add-child, .remove-child {
    border: none;
    background-color: transparent;
}

#add-child-menu {
    height: max-content;
}
#add-child-form {
    border: none;
}
#add-child-form > * {
    display: block;
}
#add-child-form fieldset {
    border: none;
}

.hidden {
    display: none;
}